@model List<ToDoAlkalmazas.Models.TodoItem>
    @*Ez a függvény paramétere*@ 
@{
    ViewBag.Title = "TodoList";
}

<h2>Bevásárlólista!</h2>


@*Ciklus*@
<ol>
    @foreach (var TodoItemOne in Model)
    {
        if (TodoItemOne.Done)
        {
            <li><strike>@TodoItemOne.Name</strike></li>
        }
        else
        {
            <li>@TodoItemOne.Name</li>
        }

    }
</ol>
@*Mindkét megoldás jó*@
<a href="/Todo/Create">Új felvitele</a>
@*A saját kontrolllerben keresi*@
@Html.ActionLink("Új adat", "Create");
