@model List<String>
    @*Ez a függvény paramétere*@ 
@{
    ViewBag.Title = "TodoList";
}

<h2>Bevásárlólista!</h2>


@*Ciklus*@
<ol>
    @foreach (var elem in Model)
    {
        <li>@elem</li>
    }
</ol>
